body { 
    @font-face {
    font-family:'Roboto', 'sans-serif ';
    font-size: 14px;
    src: url(/fonts/roboto-v30-latin-regular.ttf),
    url(/fonts/roboto-v30-latin-regular.eot),
    url(/fonts/roboto-v30-latin-regular.woff);
 }
  background-color: $third-color;
  color: $primary-color;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.link {
  text-decoration-line: none;
  &:focus {
    color: $accent-color;
  }

  &:hover {
    color: $accent-color;
    cursor: pointer;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding: 94px 0;
}
.section__title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}